html, body{
    margin: 0px;
    padding:0px;
}
div.logo1{
    margin: 0px;
    background-color: orange;
    width: 100px;
    height: 100px;
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    z-index: 0;
    position:absolute;
    top:0;
    left:0;
    }
div > div.logo{
    border: 3px solid white; 
    display: flex;
    padding: 10px;

}
div div h1.logo {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 10px;
    word-wrap: break-word;
    text-align: center;
    margin: 0px;
}
div.menu {
    background-color:rgb(240, 215, 142);
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
div.menu div{
    font-weight: bold;
    font-size: 14px;  
}

#menu-left{
    margin-left: auto;
}

div.menu input{
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    margin-left: auto;
}
div.menu input::placeholder{
    color: black;
}
div.menu button{
    border: none;
    background-color: transparent;
    font-weight: bold;
}
#picture{
    position: relative;
    z-index: -2;
    height: 300px;
    width: 100%;

}

#picture img{
    object-fit: fill;
    height: 800px;
    width: 100%
}

#bannersticker{
    background-color: white;
    height: 300px;
    width: 300px;
    margin-left: 100px;
    padding: 25px;
    text-align: justify;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#bannersticker button{
    margin-top: 10px;
    border:none;
    background-color: orange;
    color: white;
    height: 50px;
    padding: 10px;
}

#bannersticker button:hover{
    background-color: rgb(240, 215, 142);
    color: black;
    font-weight: bold;
}